<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @builder.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @builder.title %>
</p>

<% @projects.each do |p| %>
    <p>
        <%= link_to "#{p.title} (#{p.id})", project_path(p) %>
    </p>
<% end %>
<%= link_to 'Edit', edit_builder_path(@builder) %> |
<%= link_to 'Back', builders_path %>
