<%= form_for(@blurb) do |f| %>
  <% if @blurb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blurb.errors.count, "error") %> prohibited this blurb from being saved:</h2>

      <ul>
      <% @blurb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :project_id %><br>
      <%= f.collection_select(:project_id, Project.all, :id, :title) %>
  </div>

  <div class="field">
      <%= f.label :datasource_id %><br>
      <%= f.collection_select(:datasource_id, Datasource.all, :id, :title) %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :images do |i| %>
    <div class="field">
      <%= i.label :image %>
      <%= i.text_field :url %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
