<p id="notice"><%= notice %></p>

<p>
  <strong>Datasource:</strong>
  <%= link_to @blurb.datasource.title, datasource_path(@blurb.datasource) %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @blurb.project.title, project_path(@blurb.project) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blurb.description %>
</p>

<h3>Images</h3>
<% @images.each do |i| %>
  <p>
    <%= link_to "#{i.url} (#{i.id})", image_path(i) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_blurb_path(@blurb) %> |
<%= link_to 'Back', blurbs_path %>
