<h1>Editing Project</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

<%= javascript_tag defer: 'defer' do -%>
  map_markers = [{
  "lat": <%= @project.latitude %>,
  "lng": <%= @project.longitude %>,
  "picture": {
  "url": "http://s.uk.nestoria.nestimg.com/i/realestate/all/all/favicon-32x32.png",
  "width":  32,
  "height": 32
  },
  "infowindow": "<%= @project.title %>"
  }];
  map_add_marker = 1;
<% end -%>
