<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="map" style='height: 400px;'></div>
  </div>
</div>

<br>

<div class='row'>
  <div class='col-sm-8 col-sm-offset-2' id="search_form">
    <form role="search" class="well">
      <div class="form-group" id="bloodhound">
        <label for="searchField">Search</label>
        <input type='text' id="searchField" data-remote="<%= typeahead_projects_url(:format => :json)  %>" class='form-control typeahead' value='<%= params[:keyword] %>' name='keyword' placeholder='Project title'>
        <button class="btn btn-default" type="submit" id="search_submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </form>
  </div>
</div>

<br>


<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Verified</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Builder</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= link_to project.title, project %></td>
            <td><%= project.verified %></td>
            <td><%= project.latitude %></td>
            <td><%= project.longitude %></td>
            <td>
              <% if project.builder %>
                <%= link_to project.builder.title, builder_path(project.builder) %>
              <% end %>
            </td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><a href="#" data-map-lat="<%= project.latitude %>"
                   data-map-long="<%= project.longitude %>">Zoom to</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= javascript_tag defer: 'defer' do -%>
 map_markers = <%=raw @map_markers.to_json %>;
 map_add_marker = 0;
<% end -%>


