<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">

    <div class="col-md-5 well">
      <h1><%= @project.title %></h1>
      <ul class="list-unstyled">
        <li><strong>Name:</strong> <%= @project.name %> </li>
        <li><strong>Title:</strong> <%= @project.title %> </li>
        <li><strong>Verified:</strong> <%= @project.verified %> </li>
        <li><strong>Lat / Long:</strong> <%= @project.latitude %>, <%= @project.longitude %> </li>
        <li><strong>Builder:</strong> <%= link_to @project.builder.title, builder_path(@project.builder) %> </li>
        <li><strong>Created at:</strong> <%= @project.created_at %>
        <li><strong>Updated at:</strong> <%= @project.updated_at %>          
      </ul>

    </div>

    <div class="col-md-5">
      <div id="map" style='width: 400px; height: 400px;'></div>
    </div>
    
    <div class="col-md-2">
      <ul class="list-inline pull-right text-center">
        <li><%= button_to "Edit", edit_project_path, :class => "btn btn-primary", :method => :get %></li>
        <li><%= button_to "Destroy", project_path, :class => "btn btn-danger", :method => :delete,
            data: { confirm: 'Are you sure?' } %></li>
      </ul>
      <ul class="list-inline pull-right text-center">      
        <li><%= button_to "Verify", edit_project_path, :class => "btn btn-success", :method => :get %></li>
        
      </ul>
    </div>
    
  </div>
</div>

<div class="container col-md-10 col-md-offset-1">

  <ul class="nav nav-tabs">
    <% @blurbs.each do |b| %>
      <li class="nav-tab-bar">
        <a data-toggle="tab" href="#blurb_<%= b.id %>"><%= b.datasource.title %></a>
      </li>
    <% end %>      
  </ul>

  <div class="tab-content">

    <%= render :partial => 'blurb_pane', :collection => @blurbs, :as => :blurb %>

  </div>
</div>

<%= javascript_tag defer: 'defer' do -%>
  map_markers = [{
  "lat": <%= @project.latitude %>,
  "lng": <%= @project.longitude %>,
  "picture": {
  "url": "http://s.uk.nestoria.nestimg.com/i/realestate/all/all/favicon-32x32.png",
  "width":  32,
  "height": 32
  },
  "infowindow": "<%= @project.title %>"
  }];
  map_add_marker = 0;
<% end -%>
