<p id="notice"><%= notice %></p>

<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @project.verified %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @project.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @project.longitude %>
</p>

<p>
  <strong>Builder:</strong>
  <% if @project.builder %>
      <%= link_to @project.builder.title, builder_path(@project.builder) %>
  <% end %>
</p>

<p>Blurbs</p>

<% @blurbs.each do |b| %>
    <p>
        <%= link_to "#{b.description} (#{b.id})", blurb_path(b) %>
    </p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @project.latitude %>,
      "lng": <%= @project.longitude %>,
      "picture": {
        "url": "http://s.uk.nestoria.nestimg.com/i/realestate/all/all/favicon-32x32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
